body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1A8D26;
}

.site_links a{
    font-size: 1.5em;
    text-decoration: none;
    color:white;
}

.pet_links a{
   font-size: 1.5em;
   color:#ffffff;
   text-decoration: none;
    
}

.pet_links {
    background-color: #1A8D26;
}

.pet_section {
    border: solid .5px black;
}

.Add_Pet_Form {
    color: #1A8D26 ;
}

.add_pet {
    color: #1A8D26;
}

.gen_care_container_spv {
    border: soild .5px black;
}

footer {
  background-color: #1A8D26;
  color: azure;
  clear: both;
  position: relative;
  height: 50px;
  text-align: center;
}
